.DS_Store
.vscode
*.env*
*.exe
*.log*

node_modules/

# output directories
build/
debug/
dist/
target/

# lock files
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# misc
source/docs/
test/use-cases/
